:root {
    --colour: #f04937;
    --highlight: #f0493733;
    --grid: #f0493722;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inconsolata", monospace;
    line-height: 140%;
}

.transparent >.background {
    border-radius: 8px;
    background: -webkit-linear-gradient(45deg, var(--grid) 25%, transparent 25%, transparent 75%, var(--grid) 75%, var(--grid) 0), -webkit-linear-gradient(45deg, var(--grid) 25%, transparent 25%, transparent 75%, var(--grid) 75%, var(--grid) 0), white;
    background: -moz-linear-gradient(45deg, var(--grid) 25%, transparent 25%, transparent 75%, var(--grid) 75%, var(--grid) 0), -moz-linear-gradient(45deg, var(--grid) 25%, transparent 25%, transparent 75%, var(--grid) 75%, var(--grid) 0), white;
    background: linear-gradient(45deg, var(--grid) 25%, transparent 25%, transparent 75%, var(--grid) 75%, var(--grid) 0), linear-gradient(45deg, var(--grid) 25%, transparent 25%, transparent 75%, var(--grid) 75%, var(--grid) 0), white;
    background-repeat: repeat, repeat;
    background-position: 0px 0, 10px 10px;
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-background-origin: padding-box, padding-box;
    background-origin: padding-box, padding-box;
    -webkit-background-clip: border-box, border-box;
    background-clip: border-box, border-box;
    -webkit-background-size: 10px 10px, 10px 10px;
    background-size: 20px 20px, 20px 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: scaleX(1) scaleY(1) scaleZ(1);
    transform: scaleX(1) scaleY(1) scaleZ(1);
}

#invite {
    color: #ffffff;
    text-decoration: underline;
    font-size: 170%;
}

#invite:hover, #invite:visited:hover {
    color: black;
    text-decoration: none;
}

.discord-wrapper p, .filter-category p {
    margin: 0;
}

.discord-wrapper {
    margin: auto;
    color: #000000;
    border-radius: 8px;
    border: #36393f 2px solid;
    padding: 10px;
    background-color: #7289da; /* 36393f*/
    max-width: --default-size;
    max-height: --default-size;
}

#reset-tags:hover {
    color: var(--colour);
}

.filter-category p:hover {
    color: var(--colour);
}

.filter-category {
    margin-bottom: 15px;
}

#navigation .linkblock {
    margin: 0;
    margin-right: 15px;
    background-color: transparent;
}

h3 {
    color: var(--colour);
    font-weight: normal;
    font-size: 140%;
}

.tag {
    margin-left: 2px;
    margin-right: 2px;
    color: var(--colour);
    text-decoration: none;
    cursor: pointer;
}

.tag:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

p.tooltip-tags {
    font-size: 80%;
}

h3.tooltip-title {
    font-weight: normal;
    color: var(--colour);
    text-decoration: underline;
    background-color: #ffffffcc;
}

h3.tooltip-title:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tooltip > p {
    background-color: #ffffffcc;
    margin: 0;
    max-width: var(--default-size);
}

.item-wrapper .tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
}

.item-wrapper:hover .tooltip {
    visibility: visible;
}

.linkblock {
    margin-left: 7px;
    margin-right: 7px;
    background-color: var(--highlight);
    color: var(--colour);
    text-decoration: none;
}

a, .fakelink {
    color: var(--colour);
    text-decoration: underline;
}

a:hover, .fakelink:hover, a:visited:hover, .linkblock:hover {
    color: black;
    text-decoration: none;
}

a:visited {
    color: purple;
    cursor: pointer;
}

h1 {
    color: var(--colour);
    margin-bottom: 20px;
}

.pink-highlight {
    background-color: var(--highlight);
}

.pink-text {
    color: var(--colour);
}

p {
    margin-bottom: 15px;
}

.page {
    display: flex;
    flex-flow: column;
}

@media only screen and (min-width: 768px) {
    
    :root {
        --default-size: 300px;
    }
    
    #navigation >.linkblock {
        font-size: 115%;
        cursor: pointer;
    }
    
    .page {
        margin-top: 100px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
    }
    
    .paragraph {
        margin-bottom: 30px;
    }
    
    .section {
        margin-left: 15%;
        margin-right: 15%;
    }
    
    .gallery-wrapper {
        margin-left: 0%;
        margin-right: 0%;
    }
    
    .footer {
        margin-bottom: 0px;
        position: fixed;
        bottom: 15px;
        display: flex;
        width: 100%;
        z-index: 2;
    }
    
    .infooter {
        display: flex;
        flex-flow: row wrap;
        color: var(--colour);
        line-height: 100%;
        margin: auto;
    }
}

@media only screen and (max-width: 768px) {
    
    .linkblock {
        display: block;
        background-color: transparent;
        cursor: pointer;
    }
    
    .paragraph {
        margin-bottom: 30px;
    }
    
    .footer {
        margin: 0;
        padding: 10px;
        background-color: var(--highlight);
    }
    
    :root {
        --default-size: 250px;
    }
    
    .page {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
    .gallery-wrapper {
        margin-right: 5px;
        margin-left: 5px;
    }
}

.gallery-wrapper {
    display: flex;
}

.gallery {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
}

.item-wrapper {
    display: flex;
    margin: auto;
    justify-content: flex-start;
    align-content: space-around;
    width: var(--default-size);
    height: var(--default-size);
    padding: 10px;
}

.background, img.picture {
    display: block;
    max-width: var(--default-size);
    max-height: var(--default-size);
    margin: auto;
}
